:root {
    box-sizing: border-box;
}

header {
    background-color: var(--jp-lght);
}

h1 {
    text-align: center;
    margin: 1%;
}

main {
    padding: 5%;
    display: flex; display: -ms-flexbox; display: -webkit-flex;
    flex-flow: column nowrap;
    align-items: center;
}
