/* Import OpenSans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #f1f1f1;
}

body {
    background-color: #4f749b;
    margin: 0; padding: 0;
}

header {
    top: 0; left: 0;
    width: 100%;
    padding: 10px;
    background-color: #405772;
    font-weight: 400;
}

main {
    padding: 15px;
    display: flex; display: -ms-flexbox; display: -webkit-flex;
    flex-direction: column; -ms-flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0; padding: 0;
}

/* Small box to hold each input */
form {
    margin: 15px;
    border: 1px solid #637488;
    width: calc(90% + 22px);
    height: 200px;
    display: flex; display: -ms-flexbox; display: -webkit-flex;
    flex-direction: column; -ms-flex-direction: column;
    align-items: center;
    padding: 10px; padding-top: 2%;
    background-color: #c2dffd;
}

/* Global styling for form elements */
input, label, button {
    font-size: 12pt;
    padding: 8px;
    color: #585858;
    border: 0;
    transition: filter 0.2s;
}

/* Up the contrast when hovering over a form input element */
input[type=text]:hover, label[for=file]:hover, button:hover {
    filter: contrast(120%);
}

input[type=text] {
    width: 100%;
    background-color: #eef6ff;
}

/* Hide the file input */
input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for=file], button {
    background-color: #59a7f5;
    color: #cfe5fd;
    font-weight: 600;
}

/* Set cursor to pointer when hovering over the file input box or the submit button */
label[for=file]:hover, button:hover {
    cursor: pointer;
}

button[id=new-image] {
    width: 40px; height: 40px;
    padding: 0;
}

button[id=new-image] span {
    font-size: 20pt;
    text-align: center;
}

button[type=submit] {
    font-weight: 600;
    background-color: #5c8fca;
}

/* Separator */
.separator {
    height: 10px;
}
