/* Import OpenSans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #f1f1f1;
}

body {
    background-color: #4f749b;
}

header {
    top: 0; left: 0;
    width: 100%;
    padding: 10px;
    background-color: #314255;
    font-weight: 400;
}

main {
    padding: 15px;
    display: flex; display: -ms-flexbox; display: -webkit-flex;
    flex-direction: column; -ms-flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: 0; padding: 0;
    text-align: center;
}

/* Small box to hold each input */
form {
    margin: 15px;
    width: 70%;
    height: 200px;
    display: flex; display: -ms-flexbox; display: -webkit-flex;
    flex-direction: column; -ms-flex-direction: column;
    align-items: center;
    padding-top: 2%;
    background-color: #c2dffd;
    box-shadow: #314255 5px 5px 10px;
}

/* Global styling for form elements */
input, label, button {
    font-size: 12pt;
    padding: 10px;
    color: #585858;
    border: 0;
    transition: filter 0.2s;
}

/* Up the contrast when hovering over a form input element */
input[type=text]:hover, label[for=file]:hover, button:hover,
input[type=text]:active, label[for=file]:active, button:active {
    filter: contrast(120%);
}

input[type=text] {
    width: 95%;
    background-color: #eef6ff;
}

/* Hide the file input */
input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for=file], button {
    background-color: #59a7f5;
    color: #cfe5fd;
    font-weight: 600;
}

/* Set cursor to pointer when hovering over the file input box or the submit button */
label[for=file]:hover, button:hover {
    cursor: pointer;
}

button[type=submit] {
    padding: 8px;
    width: 100%;
    margin-top: auto;
}

/* Separator */
.hseparator {
    height: 10px;
}

.vseparator {
    display: inline-block;
    width: 10px;
}
