<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    {% block links %}
    {% endblock links %}
</head>
<body>
    <div class="content">
        <button class="pageflip"></button>
        <div class="content-body">
            <header>
                {% block header %}
                {% endblock header %}
            </header>
            {% block body %}
            {% endblock body %}
            <footer>
                {% block footer %}
                {% endblock footer %}
            </footer>
        </div>
        <button class="pageflip"></button>
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>