{% extends 'master.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_picture.css') }}">
{% endblock links %}
{% block body %}
    <header>
        <h1>Adicionar nova foto</h1>
    </header>
    <main>
        <form class="page" action="./api/new_picture" method="post" enctype="multipart/form-data">
            <input type="text" name="asst_text" placeholder="Texto para a imagem (opcional)">
            <div class="hseparator"></div>
            <input type="file" id="file" name="pict">
            <label for="file">Escolha um arquivo</label>
            <button type="submit">Enviar</button>
        </form>
    </main>
{% endblock body %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/new_picture.js') }}"></script>
{% endblock scripts %}
