<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova foto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_picture.css') }}">
</head>
<body>
    <header>
        <h1>Adicionar nova foto</h1>
    </header>
    <main>
        <form action="./api/new_picture" method="post" enctype="multipart/form-data">
            <input type="text" name="asst_text" placeholder="Texto para a imagem (opcional)">
            <div class="hseparator"></div>
            <input type="file" id="file" name="pict">
            <label for="file">Escolha um arquivo</label>
            <footer>
                <button type="submit">Enviar</button>
                <div class="vseparator"></div>
                <button type="reset">Limpar</button>
            </footer>
        </form>
    </main>
</body>

<script src="{{ url_for('static', filename='js/new_picture.js') }}"></script>

</html>